.modal__container-div {
    input::placeholder {
        font-size: 14px;
    }

    .add__header-div {
        background-color: #f5f5f6;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        cursor: pointer;


        .add__menu_box-div{
            border-right: 1px solid #979797;
            min-width: 46px;
            max-width: 99px;
            height: 28px;
            display: flex;
            align-items: center;
            text-align: left;

            label {
                font-family: 'Roboto-Regular', sans-serif;
                font-size: 12px;
                color: #0079d1;
                margin: 0 18px;
                font-weight: 500;
            }

            .link__selected{
                color: black;
                outline: none;
            }
        }

        .add__menu_box-div:last-child{
            border: none;
        }
    }

    .add__button_box-div{
        display: flex;
        justify-content: flex-end;
        margin: 30px 20px 30px;
    }
}
