.main__attributes-div {
    //padding-top: 30px;
    .attribute__view__wrapper-div {
        margin-top: 3px;
        background-color: white;
        height: 100%;
        .attribute_view__buttons-div {
            background-color: #dededd;
            display: flex;
            padding-top: 13px;
            padding-bottom: 9px;
            padding-right: 20px;

            .attributes-row-count {
                font-style: italic;
                margin-left: 10px;
            }

            .left{
                align-items: flex-end;
                display: flex;
                width: 100%;
            }

            .right{
                display: flex;
                width: 100%;
                justify-content: flex-end;
                align-items: center;
            }
        }

        .ag-header-cell, .ag-header-group-cell{
            padding-top: 0 !important;
            padding-left: 4px !important;

            .ag-cell-label-container {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .ag-ltr{
        .ag-cell-error{
            border: 2px solid red !important;
        }
    }
}

.attributes-header {
    background-color: #4a4a4a;
    border-top: 1px solid #858585;
    color: #ffffff;
    font-size: 0.825rem;
    height: 45px;
    padding-left: 10px;
    padding-top: 14px;
    text-transform: uppercase;
    width: 100%;

    .close-div {
        width: 10px;
        height: 10px;
        display: flex;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 18px;
        display: none; //Remove when ready to display the close button

        .close__icon-i {
            background: url("../images/close.svg") no-repeat;
            width: 10px;
            background-size: 10px;
            height: 10px;
        }
    }
}
.attributes-content {
    color: #000000;
    padding: 10px 10px 0 10px;
    font-size: 0.825rem;
    .attributes-content-title {
        font-weight: bold;
    }
    .attributes-content-sidebar-btn {
        padding: 0px;
        width: 88%;
        margin-bottom: 10px;
    }
    .attributes__header-rule {
        margin-top: 10px;
    }
    .select-box {
        margin-bottom: 5px;
    }
    .attributes-content-sidebar-btn-group {
        margin-top: 10px;
    }
}
.attributes__modal-paragraph {
    margin: 0;
    .attributes__swal2-spex-content {
        width: 2em;
        min-width: 2em;
        height: 2em;
        margin: 0 10px 0 0;
        display: inline-flex;
        float: left
    }
    .attributes__swal2-spex-icon {
        font-size: 2em;
        font-weight: bold;
        line-height: 1em;
    }
}
.stress-text {
    font-weight: 700;
    text-decoration: underline;
}
