.dashboard-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 50px 10px 0 10px;
    font-family: 'Roboto-Light';
}

.box-header {
    background: #979ce5;
    color: #fff;
    font-size: 18px;
}

.box-lg {
    flex: 1 0;
    order: 1;
}

.box-sm {
    flex: 0 auto;
    margin-left: 10px;
    order: 2;
}

.box-content {
    border: 1px solid #ccc;
    border-top: none;
    font-size: 14px;
    min-height: 200px;
    background: #fff;
    overflow-y: scroll;
    max-height: 70vh;
    a {
        font-size: 16px;
        line-height: 2;
        color: #0084d7;
    }
}

.box-header, .box-content {
    padding: 10px 20px;
}
