.button-spex {
  min-width: 120px;
  height: 34px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  margin-left: 10px;
}

.button-spex:focus {
  outline: 0;
}

.button-green {
  background-color: #4caf50;
}

.button-grey {
  background-color: #656565;
}

.button-blue {
  background-color: #0084d7;
}

.button-primary-blue {
  background-color: white;
  border: 1px solid #0079d1;
  color: #0079d1;
}

button[disabled],
html input[disabled] {
  opacity: 0.5;
}
