.chip_component{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    .unselected-attribute{
        background-color: #ffffff;
        border: solid 1px #24b151;
        font-family: 'Roboto-Light', sans-serif;
        height: 20px;
        font-size: 12px;
        padding: 0 12px;
        padding-bottom: 1px;
        margin: 3px 0 3px 10px;
        border-radius: 6px;
    }
    .selected-button{
        border-radius: 6px;
        background-color: #24b151;
        border: solid 1px #24b151;
        font-family: 'Roboto-Light', sans-serif;
        font-size: 12px;
        text-align: left;
        color: #ffffff;
        padding-bottom: 1px;
        margin: 3px 0 3px 10px;

        a{
            color: white;
        }
    }
    input{
        margin-left: 10px;
    }
}
