.main__distros-div{
    padding-top: 30px;

    .distro__view__wrapper-div,
    .global_distro__view__wrapper-div {
        height: 100%;
        background-color: white;
        overflow: hidden !important;
    }

    .distro_view__buttons-div,
    .global_distro_view__buttons-div{
        background-color: #dededd;
        display: flex;
        justify-content: flex-end;
        padding-top: 13px;
        padding-bottom: 9px;
        padding-right: 20px;
    }

    .ag-body-viewport {
        overflow-y: overlay !important;
        overflow-x: auto !important;
    }
}
.distro__view__wrapper-div.ag-fresh,
.global_distro__view__wrapper-div.ag-fresh {
    .header-group-empty {
       background-color: #0084d7;
        //border-left: 3px solid #dededd !important;
        border-bottom: 0px !important;
    }

    .is-editing {
        background-color: white;
    }

    .ag-ltr .ag-cell-no-focus {
        border-right: 1px solid #dededd !important;
    }

    .ag-cell-no-focus {
        border-bottom: 1px solid #dededd !important;
    }

    .ag-header-group-cell:not(:last-child),
    .ag-header-cell.checkbox-grid,
    .ag-cell-no-focus.checkbox-grid,
    .ag-cell-not-inline-editing.checkbox-grid,
    [col-id="note"],
    .ag-cell-no-focus[col-id="note"] {
        //border-right: 4px solid #dededd !important;
    }

    .header-subhead.last {
        border-right: 1px solid #dededd !important;
    }

    [col-id="action"] {
        //border-left: 3px solid #dededd !important;
    }
    .ag-ltr{
        .ag-cell-error{
            border: 2px solid red !important;
        }
    }
}
