.formBox__component-div{
    display: grid;
    .formBox__header-div{
        margin: 20px 0 0 20px;
        label{
            color: #656565;
            font-family: 'Roboto-Regular', sans-serif;
            font-size: 12px;
        }
    }

    .formBox__children-div{
        margin: 12px 20px 3px 20px;
        .row{
            margin-bottom: 12px;
        }
    }
}
