.main__locations-div{
    padding-top: 30px;

    .location__stores__wrapper-div{
        height: 100%;
        background-color: white;

        .ag-body-viewport {
            overflow-y: overlay !important;
        }

        // set border on row and not cells
        .ag-row.ag-row-odd,
        .ag-row.ag-row-even {
            border-bottom: 1px solid rgb(239, 239, 237) !important;
        }

        // force flexbox styles
        .ag-header-row,
        .ag-row.ag-row-odd,
        .ag-row.ag-row-even {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            width: 100% !important;

            .ag-header-cell,
            .ag-cell {
                flex-grow: 0;
                flex-shrink: 0;
                height: 22.5px;
                border-right: 0.5px solid #dededd;
                left: auto !important;
                min-height: 22.5px !important;
                padding-left: 5px;
                position: relative !important;
              
                &[title=Name],
                &[col-id=name] {
                    flex-grow: 1;
                    flex-shrink: 1;
                    min-width: 200px;
                }
            }
        }
    }

    .location__stores__wrapper-div.ag-fresh {
        .is-editing {
            background-color: white !important;
        }
    }

    .location_stores__buttons-div{
        background-color: #dededd;
        display: flex;
        justify-content: flex-end;
        padding-top: 13px;
        padding-bottom: 9px;
        padding-right: 20px;
    }

    .ag-ltr{
        .ag-cell-error{
            border: 2px solid red !important;
        }
    }
}
