.rwt__tab{
    border-radius: 4px 4px 0px 0px;
    min-width: 120px;
    height: 32px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #dededd;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    border-color: #d9d9d8;
    border-style: solid;
}
.rwt__tablist{
    margin-left: 32px;

    button{
        font-family: 'Roboto-Regular', sans-serif;
        color: #3c3c3c;
        font-size: 12px;
        margin: 0px 4px 0px 0px;
        outline:none;
    }

    button[aria-selected="true"]{
        background-color: #dededd;
        font-weight: bold;
    }

    button[aria-selected="false"]{
        background-color: #efefed;
    }
}
.rwt__tabpanel[aria-expanded="true"] {
    background-color: #dededd;
    min-height: 40px;
    height: inherit;;
}

.rwt__tabs {
    height: 100%;
}
