{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react",
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./app"
        ],
        "alias": {
          "components": "./app/components",
          "modules": "./app/modules",
          "pages": "./pages",
          "static": "./static",
          "types": "./app/types"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ]
}