{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react",
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
          "components": "./app/components",
          "modules": "./app/modules",
          "pages": "./pages",
          "static": "./static",
          "types": "./app/types"
        }
      }
    ],
    ["transform-md-import-to-string"],
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    [
      "inline-react-svg",
      {
        "caseSensitive": true,
        "svgo": {
          "plugins": [
            {
              "cleanupIDs": false
            },
            {
              "removeTitle": true
            }
          ]
        }
      }
    ]
  ]
}
